body.light {
  --bg: #cdb4db;
  --color: #000000;
  --link: #000000;
}

body.dark {
  --bg: #1e1e1e;
  --color: #ffffff;
  --link: #ffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* transition: background-color 0.4s, color 0.4s; */
  background-color: var(--bg);
  color: var(--color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--color);
  color: var(--bg);
  transition: background-color 2.4s ease, color 0.4s ease;
}

nav {
  border-bottom: 1px solid var(--color);
}